*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header{
    align-content: space-around;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color:blue ;
    color: aliceblue;
    height: 75px;
    width: 100%;
}

.logo{
    margin: 30px;
}
.menubar ul{
    display: flex;
    gap: 25px   ;
}
.menubar a{
    color: aliceblue;
    flex-direction: column;
    justify-content: end ;
    margin: 10px 0;
    padding: 10px 20px;
}
.home{
    border: 10px solid black;
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: center;
}
img{
    justify-content: space-between;
}
.info{
    text-align:justify;
}
.btn{
    height: 20%;
    width: 15%;
}
.About{
    margin:10%; 
    padding: 5%;
    justify-content: center;
    border: 5px solid black;
    height: 200px;
    weight:100px;
    font-size: larger;
    background-color: aquamarine; 
    text-align: center;
    align-content: space-around;
    list-style-type: none;
    justify-content: space-between;

    }
.About b{
    color: 
    blue;
    font-size:larger;
}
.Download{
height: 60px;
    width: 200px;
    font-size: large;
    border-radius: 30px;
    color: white;
    color:rgb(243, 243, 242);
    background-color:rgb(107, 41, 193);
}

/*Skills Section*/
.skill{
    margin: 10%;  
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-size: larger;
}
.skill b{
    font-size: 40px;
}
.html p{
    border: 50px solid white;
    border-radius: 10%;
    background-color: pink;
    color:black;
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
.CSS p{
    border: 50px solid white;
    border-radius: 10%;
    background-color:rgb(255, 192, 231);
    color: rgb(28, 30, 31);
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
.JS p{
    border: 50px solid white;
    border-radius: 10%;
    background-color:pink;
    color: rgb(30, 28, 31);
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
/*contact Section*/
.section_contact{
    color: aliceblue;
    background-color:pink;
}
#contact h1{
    font-size: 40px;
    text-align: center;
}
#contact{
    margin: 10%;
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: justify;
}
#sub_btn{ 
    height: 40px;
    width: 90px;
    font-size: larger;
    border-radius: 20px;
    color:rgb(242, 242, 243);
    background-color:rgb(193, 41, 104);
}   
#sub_btn:hover{
    background-color: white;
    color:pink;
}
.input{
    width: 300px;  
    height: 50px; 
    font-size: 16px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}
footer{
    background-color:rgb(193, 41, 135);
    text-align: center;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.socials a {
    color: #fff;
    margin: 10px;
    justify-content: space-between;
    text-decoration: none;
}


